{% extends 'clinica/base.html' %}

{% block title %}
    {% if consulta %}Editar Agendamento{% else %}Novo Agendamento{% endif %} | HealthFlow Pro
{% endblock %}

{% block content %}
   <!-- Aqui vai apenas o código específico daquela página -->
    <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6">Novo Agendamento</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded mt-4 hover:bg-blue-700">
                Confirmar Agendamento
            </button>
        </form>
    </div>
{% endblock %}