{% extends 'clinica/base.html' %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-6 text-center">Acesso ao HealthFlow</h2>
    
    <form method="post">
        {% csrf_token %}
        <div class="space-y-4">
            {{ form.as_p }}
        </div>
        <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded mt-6 hover:bg-blue-700">
            Entrar no Sistema
        </button>
    </form>
</div>
{% endblock %}